amqp==2.2.2
anyjson==0.3.3
Babel==2.5.3
billiard==3.5.0.3
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
Django==2.0.3
django-celery==3.2.2
django-celery-beat==1.1.1
django-cors-headers==2.2.0
django-webpack-loader==0.6.0
gunicorn==19.7.1
i18n==0.2
idna==2.6
kombu==4.1.0
py==1.5.3
pytz==2018.3
redis==2.10.6
requests==2.18.4
urllib3==1.22
vine==1.1.4
whitenoise==3.3.1
